@import "frappe.css";

* {
  font-size: 17px;
  transition-property: all;
  transition-duration: 300ms;
}

window#waybar {
  background: transparent;
  color: @text;
  border-radius: 0;
  border: none;
}

window#waybar.empty {
    background: linear-gradient(180deg, @base, alpha(@base, 0));
}

.modules-left {
    padding: 3px 15px 0 0;
    background: transparent;
}
.modules-center {
    border-radius: 15px;
    background-color: @surface0;
    margin-top: 3px;
    padding: 0 10px;
}
.modules-right {
    /*spacing: 0;*/
    padding-left: 15px;
    padding-right: 0;
    margin: 0;
    background: transparent;

}

label.module {
    font-weight: bold;
}

#disk,
#cpu,
#memory {
    background-color: transparent;
    font-weight: normal;
    margin: 0 7px 0 0;
    padding: 0;
}

#language,
#custom-empty,
#network,
#wireplumber,
#tray,
#power-profiles-daemon,
#keyboard-state,
#pulseaudio,
#bluetooth,
#mpd {
  padding: 0 7px;
  background-color: @surface0;
  border-radius: 0;
  margin: 3px 0px 0 0px;
  border: none;
}

#language {
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}

#custom-empty {
    margin-right: 15px;
    border-radius: 0 15px 15px 0;
    padding: 0 0 0 8px;
    /*width: 10px;*/
}

#idle_inhibitor {
    background: transparent;
    margin: 0 15px;
}

#idle_inhibitor:hover,
#pulseaudio:hover,
#bluetooth:hover {
    color: @mauve;
}

#window {
    font-weight: normal;
    background: transparent;
}

window#waybar.empty .modules-left,
window#waybar.empty .modules-center,
window#waybar.empty .modules-right {
    background: transparent;
}

#keyboard-state {
  min-width: 0px;
  padding: 0;
  color: @mauve;
  font-weight: bold;
}

#keyboard-state > label {
  padding: 0;
  margin-right: 0px;
}
#keyboard-state > label.locked {
  margin-right: 10px;
}

tooltip {
  background-color: @surface0;
  border: none;
}

button {
  border: none;
}

#workspaces {
  border: none;
  margin: 0 15px;
  background-color: transparent;
  border-radius: 15px;
  padding: 0 5px;
  background: @surface0;
}

#workspaces button {
  background-color: transparent;
  color: @text;
  border-color: transparent;
  border-radius: 20px;
  margin: 0 -7px;
  padding: 0;
  box-shadow: none;
  transition-property: border-width, margin;
  transition-duration: 250ms;
}

#workspaces > button:first-child:hover  {
    margin-left: -7px;
}

#workspaces > button:last-child:hover  {
    margin-right: -7px;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button:hover {
  margin: 0 5px;
  padding: 0;
  text-shadow: none;
}

