binds {
    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T { spawn "wezterm"; }
    Mod+D { spawn "fuzzel"; }
    Mod+E { spawn "nautilus"; }
    Mod+Shift+E { spawn "wezterm" "start" "yazi"; }
    Super+Alt+L { spawn "swaylock"; }

    Mod+B { spawn "bash" "-c" "systemctl --user restart waybar"; }

    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }

    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+K     { focus-monitor-up; }
    Mod+Alt+L     { focus-monitor-right; }

    Mod+Alt+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Alt+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Alt+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Alt+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Alt+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Alt+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Alt+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Alt+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+Down  { focus-workspace-down; }
    Mod+Shift+Up    { focus-workspace-up; }

    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp   { move-column-left; }

    Mod+Alt+WheelScrollUp         {focus-monitor-left; }
    Mod+Alt+WheelScrollDown       {focus-monitor-right; }
    Mod+Ctrl+Alt+WheelScrollUp    {move-column-to-monitor-left; }
    Mod+Ctrl+Alt+WheelScrollDown  {move-column-to-monitor-right; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

}
